*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: rgb(7, 148, 106); 
    font-size: 40px;
}
.h{
    font-size: 35px;
    letter-spacing: 1px;
    color: #1f1f1f;
    /* background-color: blue; */
}
.link{
    list-style: none;
    display: inline-block;
    font-weight: 800;
    color: #1f1f1f;
}

.link{
    text-decoration: none;
    color: #1f1f1f;
    padding: 10px 25px;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}
a:hover{
    color: rgb(7, 148, 106); 
    text-decoration:1px solid redi dashed;

}
.con2-section{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    /* background-color: aqua; */
    background-color:rgb(201, 255, 239);

}
.mg{
    width: 500px;
    /* padding: 30px; */
}
.h1{
    font-size: 65px;
    color: #1f1f1f;
    padding: 10px 10px 0px 0px;
}
.h3{
    font-size: 31px;
    line-height: 20px;
    font-weight: 100;
    color: rgb(7, 148, 106); 


}
h3{
    font-size: 20px;
    line-height: 40px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #292929;
}
header,section{
    background-color:rgb(201, 255, 239);
    /* background-color:rgb(255, 190, 130); */
}
main{
    /* background-color: #f80606; */
    padding: 20px;
    /* background-color: red; */
}

.c{
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color: aquamarine; */
    /* height: 50px; */
}
.about{
    width: 350px;
}
.main-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hh{
    text-align: center;
    color: rgb(68, 105, 93);
}
.hw{
    color: rgb(0, 0, 0);
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px;
    /* margin-bottom: 50px; */
}
.p1{
    color: rgb(150, 150, 150);
    line-height: 25px;
}
.h2{
    padding: 0px 0px 20px 0px;
}
.hjr{
    width: 100px;
    border-radius: 50%;
}
.hjr1{
    width: 145px;
    border-radius: 100%;
}
.about{
    padding-bottom: 80px;
}
.h2{
    color: #00614c;
    font-weight: 700;
    font-size:1.2rem;
}
.mg2{
    width: 400px;

}


.mg9{
    width: 400px;
}
.con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}


.p2{
    line-height: 25px;
    margin-top: 30px;
    color: rgb(133, 133, 133);
}
.h3{
    padding: 20px 0px ;
}
.con1-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 10px; */
    border-radius: 10px;

}
.mg5{
    width: 380px;
    border-radius: 10px;

}
.conpic{
    width: 380px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 50px;
}
.conpic:hover{
   box-shadow: 2px 2px 8px rgb(180, 176, 176),-2px -2px 8px rgb(206, 204, 204);
   transition: 0.5s;
}
.h0{
    line-height: 60px;
    color: #464646;
    padding: 20px;
}
.p3{
    line-height: 25px;
    padding: 0px 20px;
    color: #00614c;

}
.hhh{
    padding: 20px;
    /* margin: 30px; */
    /* margin-top: 50px; */
    text-align: center;
    /* color: rgb(73, 73, 73); */
    color: rgb(68, 105, 93);
    font-size: 31px;
}
.art{
    background-color: rgb(248, 248, 248);
}
@media only screen and (max-width:600px) {
    .con1-1{
        width: 300px;
    }
    .mg{
        width: 250px;
        margin: 30px;
    }
    .mg5{
        width: 290px;
    }
    /* .main-con{
        width: 250px;
    } */
    .link{
        padding: 10px 12px;
    }
    .about{
        width: 280px;
        padding: 40px 40px;
    }
    .con1-1,.art{
        width: 350px;
    }
   
    .mg9{
       width: 280px;
    }
    .con-1{
        width: 300px;
    }
    .con{
        width: 300px;
    }
    .con2{
        width: 300px;
    }
    .conpic{
        width: 300px;
        
    }
    .j{
        text-align: center;
        padding: 0px 10px;
    }
    .h1{
        font-size: 40px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .about{
        width: 280px;
    }
    /* .main{
        width: 320px;
    } */
    .h3{
        text-align: center;
    }
    .p3,.h0,.p2,.h3{
        width: 300px;
    }
    .navbar{
        height: 120px;
    }
    .nav{
        height: 50px;
    }
    .c1{
        padding: 30px;
    }
    .hh{
        width: 220px;
        text-align: center;
        margin: 0px;
        padding: 0px;
       
    }
    #hw{
       margin-left: 30px;
       margin-right:-40px;
    }
    .p1{
        width: 220px;
    }
    .c1{
        width: 270px;
        margin: 0px;
        padding: 0px;
    }
   
}