main{
    background-color: #f8f8f8;
    padding: 20px;
}
.about{
    width: 350px;
}
.main-con{
   display: flex;
   justify-content:space-around ;
   align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}
.hh{
    padding: 20px;
    margin: 30px;
    text-align: center;
    color: rgb(68, 105, 93);
}
.hr{
    /* color: rgb(0, 94, 94); */
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 20px;
}
.p1{
    color: rgb(150, 150, 150);
    line-height: 25px;
}
.h2{
    padding: 0px 0px 20px 0px;
}
.hjr{
    width: 100px;
    border-radius: 50%;
}
.hjr1{
    width: 145px;
    border-radius: 100%;
}
.about{
    padding-bottom: 80px;
}
.h2{
    color: #00614c;
    font-weight: 700;
    font-size:1.2rem;
}
.mg2{
    width: 400px;

}
@media only screen and (max-width:600px) {
    *{
        padding: 0px;
        margin: 0px;
    }
    .main-con{
        width: 300px;
    }
    .main{
        background-color: aqua;
    }
    .about{
        width: 300px;
        margin-bottom: 20px;
        padding: 0px;
    }
    .hh{
        width: 300px;
        padding: 10px;
        margin-top: 30px;
        text-align: center;
    }
    .p1{
        width: 230px;
    }
}